.button{
    -fx-background-color: #f0f0f0;
}

#right{
    -fx-background-color: #71ce75;
}

#wrong{
    -fx-background-color: rgba(188, 35, 37, 0.96);
}
#questionLabel {
    -fx-background-image: url("../../images/question_label.png");

}
#background {
    -fx-background-image: url("../../images/game_background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 620, 480;

}