.button{
    -fx-background-color: #f07acf;
}

#right{
    -fx-background-color: #71ce75;
}

#wrong{
    -fx-background-color: rgba(188, 35, 37, 0.96);
}
#questionLabel {
    -fx-background-image: url("../../images/question_label.png");

}
#background {
    -fx-background-image: url("../../images/game_background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 620, 480;

}

#quizKampenText{
    -fx-font-size: 40;
}

#nameText{
    -fx-font-weight: bold;
}

#buttonLayout{
    -fx-padding: 40px;
}

#chooseSubject{
    -fx-font-size: 30;
}

#waitingImage{
    -fx-graphic: url("../../images/waitingImage.gif");
}

#waitingText{
    -fx-font-size: 30;
    -fx-text-fill: #433dff;
}

#resultText{
    -fx-font-size: 30;
}

#playerOne{
    -fx-font-size: 15;
}

#playerTwo{
    -fx-font-size: 15;
}